<div class="jumbotron">
  <div class="container">
    <style>
    div{
      background-image: url("header.jpeg");
      height: fit-content;
    }
    </style>
    <img src='styles/brunch.png' alt='BrunchGo'>
  </div>

</div>
