<div class='footer navbar-fixed-bottom' style="padding-left: 10px">
  <table>
  <tr>
    <td>
      <h4>Brunch<b>Go!</b> </h4>
    </td>
    <td>
      <form method="POST" action="/admin/logout">
        <input type="hidden" name="logout" style="display: none">
        <button type="submit" class="btn btn-secondary btn-sml active" name='logout'><B>Logout</B></button>
        </input>
      </form>
    </td>
  </table>
</div>
</tr>
</div>
