<div class='footer navbar-bottom' style=" padding-left: 10px;">
  <div>
  <h4>Brunch<b>Go!</b>
    <a href="/" class="btn btn-secondary btn-sml active" role="button" aria-pressed="true""><B>HOME</B></a>
  <a href='admin/login' class="btn btn-secondary btn-sml active" role="button" aria-pressed="true">Admin</a>
</div>
</h4>
</div>
