<!DOCTYPE html>
<html lang="en">

<head>
  <title>BrunchGo!</title>

  <%- include ./partials/_head.ejs %>


</head>

<body>
  <div class="jumbotron">
    <div class="container">
      <h1>Brunch<b>Go!</b></h1>
      <p>
      </p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Home Page »</a></p>
    </div>
  </div>
    <div class='container-fluid'>

      <h2>We're preparing your order!</h2>
      <h3>The expected pickup is: <span class='time_expectation_counter'><%= estCompletionTime.toLocaleString([],
        {year:"numeric", month:"2-digit", day: "2-digit", hour: '2-digit', minute:'2-digit'}) %></span></h3>
      <h3>We'll send you and SMS message when it's ready!</h3>
      <h4>Order #<%= orderId %></h4>



    </div>
  </div>
</body>

