<!DOCTYPE html>
<html lang="en">
<head>
  <title>BrunchGo!</title>
  <%- include ./partials/_head.ejs %>
</head>
<body>
  <%- include ./partials/_navbar.ejs %>
  <!-- banner with logo -->
  <div class="jumbotron">
    <div class="container">
      <img src='styles/brunch.png' alt='BrunchGo'>
    </div>
  </div>
  </div>
  </ul>
  </div>
  <div class="container" id="main-container">
  </div>
</body>
<!-- Footer with hyperlink to the login page -->
<%- include ./partials/_footer_menu.ejs %>
</html>
