<!DOCTYPE html>
<html lang="en">
<head>
  <title>BrunchGo!</title>
  <%- include ./partials/_head.ejs %>
</head>
<body>
  <%- include ./partials/_navbar.ejs %>
  <!-- banner with logo -->
  <div class="jumbotron">
    <div class="container">
      <img src='styles/brunch.png' alt='BrunchGo'>
    </div>
</div>
    <div class='container-fluid'>
      <h2>Order Denied</h2>
      <h3>Sorry, we cannot accept your order right now, please try again later.</h3>
      <h4>Order #<%= orderId %></h4>
    </div>
</body>
<!-- Footer with hyperlink to the home page -->
<div class='footer-order-processed'>
  <p>Brunch<b>Go!</b> <a href="/" target="_blank"><B>HOME</B></a></p>
</div>
