<!DOCTYPE html>
<html lang="en">

<head>
  <title>BrunchGo!</title>

  <base href="/">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />


  <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/menu.css" type="text/css" />
  <link rel="stylesheet" href="/styles/header.css" type="text/css" />
  <link rel="stylesheet" href="/styles/cart.css" type="text/css" />
  <link rel="stylesheet" href="/styles/navbar.css" type="text/css" />

  <!-- Bootstrap 3.1.1 -->
  <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <!-- Font awesome -->


  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app-helpers.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script type="text/javascript" src="/scripts/client-helpers.js"></script>
  <script type="text/javascript" src="/scripts/client.js"></script>
  <script type="text/javascript" src="/scripts/login_form.js"></script>
  <script type="text/javascript" src="/scripts/login_form.js"></script>

  <script type="text/javascript" src="/local_db/local_db.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>


</head>

<%- include ./partials/_head.ejs %>
  <body>

    <div class="container-logo" >

      <img src='styles/brunch.png' alt='BrunchGo'>

    </div>


    <div class="container-login">

      <form id='login' class="form-signin" action="/admin/login" method="POST">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputUserName" class="sr-only">User name</label>
        <input type="user_name" name="username" id="username" class="form-control" placeholder="user name" required="" autofocus="">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="password" id="password" class="form-control" placeholder="Password" required="">
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <input type="submit"><button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button></input>
      </form>

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>


</body>



<div class='footer-login'>
  <p>Brunch<b>Go!</b> <a href="/" target="_blank"><B>HOME</B></a></p>
</div>

</html>

