<!DOCTYPE html>
<html lang="en">

<head>
  <title>BrunchGo!</title>

  <%- include ./partials/_head.ejs %>


</head>

<body>
  <div class="jumbotron">
    <div class="container">
      <h1>Brunch<b>Go!</b></h1>
      <p>
      </p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Home Page »</a></p>
    </div>
  </div>
    <div class='container-fluid'>

      <h2>We're preparing your order!</h2>
      <h3>You will receive a SMS as soon as your order is done!</h3>
      <h3>Expected pick up time: <span class='time_expectation_counter'>0</span></h3>
      <h4>Order ID: <%= orderId %></h4>
    </div>
  </div>
</body>
