<!DOCTYPE html>
<html lang="en">

<head>
  <title>BrunchGo!</title>

  <%- include ./partials/_head.ejs %>


</head>

<body>

  <%- include ./partials/_header.ejs %>







  </div>
  </div>
  </ul>

  </div>
  <div class="container" id="main-container">


  </div>


</body>

</html>

