<!DOCTYPE html>
<html lang="en">

<head>
  <title>BrunchGo!</title>

  <%- include ./partials/_head.ejs %>


</head>

<body>
  <div class="jumbotron">
    <div class="container">
      <h1>Brunch<b>Go!</b></h1>
      <p>
      </p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Home Page »</a></p>
    </div>
  </div>
    <div class='container-fluid'>

      <h2>Your order was accepted!</h2>
      <h3>You will receive a SMS as soon as your order is done!
          The time expectation is: <span class='time_expectation_counter'>0</span>
      </h3>

    </div>
  </div>
</body>
