<!DOCTYPE html>
<html lang="en">

<head>
  <title>BrunchGo!</title>

  <base href="/">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />


  <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/menu.css" type="text/css" />
  <link rel="stylesheet" href="/styles/header.css" type="text/css" />
  <link rel="stylesheet" href="/styles/cart.css" type="text/css" />
  <link rel="stylesheet" href="/styles/navbar.css" type="text/css" />
  <link rel="stylesheet" href="/styles/manager.css" type="text/css" />

  <!-- Bootstrap 3.1.1 -->
  <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <!-- Font awesome -->


  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app-helpers.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script type="text/javascript" src="/scripts/client-helpers.js"></script>
  <script type="text/javascript" src="/scripts/client.js"></script>

  <script type="text/javascript" src="/local_db/local_db.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/scripts/manager.js"></script>


</head>

<body>
  <%- include ./partials/_navbar_plain.ejs %>
  <div class="container-fluid">

      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">Last Orders</h1>

        <div class="row placeholders">
          <div class="col-xs-6 col-sm-3 placeholder">
            <img src='styles/avatar1.jpg'>
            <h4>ORDER ID</h4>
            <span class="text-muted">Something else</span>
          </div>
          <div class="col-xs-6 col-sm-3 placeholder">
            <img src='styles/avatar.jpg'>
            <h4>ORDER ID</h4>
            <span class="text-muted">Something else</span>
          </div>
          <div class="col-xs-6 col-sm-3 placeholder">
            <img src='styles/avatar1.jpg'>
            <h4>ORDER ID</h4>
            <span class="text-muted">Something else</span>
          </div>
          <div class="col-xs-6 col-sm-3 placeholder">
            <img src='styles/avatar.jpg'>
            <h4>ORDER ID</h4>
            <span class="text-muted">Something else</span>
          </div>
        </div>


      </div>
    </div>








</body>
<div class='footer'>
  <p>Brunch<b>Go!</b></p>
</div>

</html>

