<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Brunch<b>Go!</b></title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/menu.css" type="text/css"/>
    <link rel="stylesheet" href="/styles/header.css" type="text/css"/>

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>
  <header>

    <div>
      <main>
      <img src=styles/header.jpeg
    </main>
    </div>
  </header>

  <body>
    <nav>
      <span id="logo">BrunchGo!</span>
      <button id="cart-button"></button>
      <button class='cart-btn'><i class="fas fa-shopping-basket fa-2x"></i><span>0</span></button>
    <main>
      <div class='menu-container'>
        <div><h1>Menu</h1></div>
        <section class="sidenav">
			<a href="#appetizer">Appetizers</a><br>
			<a href="#main">Main Dishes</a><br>
			<a href="#dessert">Dessert</a><br>
			<a href="#beverage">Beverages</a>
		</section>
      </div>
  </body>
</html>
