<!DOCTYPE html>
<html lang="en">
<head>
  <title>BrunchGo!</title>
  <%- include ./partials/_head.ejs %>
</head>

<body>
  <%- include ./partials/_navbar_plain.ejs %>
  <%- include ./partials/_banner.ejs %>
  <!-- ORDER COMPLETED container -->
    <div class='container' style="width: 750px">
      <div class="panel panel-default" style="padding: 10px">
        <div class="container" style="height: 300px;">
          <h2>Your order is ready for pickup!</h2>
          <h3>See you soon!</h3>
          <h4>Order #<%= orderId %></h4>
        </div>
      </div>
    </div>
</body>
  <div class='footer-login'>
    <p>Brunch<b>Go!</b> <a href="/" target="_blank"><B>HOME</B></a></p>
  </div>
