<!DOCTYPE html>
<html lang="en">

<head>
  <title>BrunchGo!</title>

  <%- include ./partials/_head.ejs %>


</head>

<body>

      <div class="jumbotron">
        <div class="container">
          <img src='styles/brunch.png' alt='BrunchGo'>
        </div>
  </div>
  <div class='container' style="width: 750px">
    <div class="panel panel-default" style="padding: 10px">
      <div class="container" style="height: 600px;">



        <img src='styles/Sms.png' style='justify-content: center;' alt='sms'>
        <h2>Your order was accepted!</h2>
        <h3>You will receive a SMS as soon as your order is done!
            The time expectation is: <span class='time_expectation_counter'>0</span>
  </div>
  </div>
  </div>
</div>
</body>
