<!DOCTYPE html>
<html lang="en">
<head>
  <title>BrunchGo!</title>
  <%- include ./partials/_head.ejs %>
</head>
<body>
  <!-- banner with logo -->
  <div class="jumbotron">
    <div class="container">
      <img src='styles/brunch.png' alt='BrunchGo'>
    </div>
  </div>
  <!-- SMS container -->
  <div class='container' style="width: 750px">
    <div class="panel panel-default" style="padding: 10px">
      <div class="container" style="height: 600px;">
        <img src='styles/Sms.png' style='justify-content: center;' alt='sms'>
        <h2>We're preparing your order!</h2>
        <h3>The expected pickup is: <span class='time_expectation_counter'><%= estCompletionTime.toLocaleString([],
          {year:"numeric", month:"2-digit", day: "2-digit", hour: '2-digit', minute:'2-digit'}) %></span></h3>
        <h3>We'll send you and SMS message when it's ready!</h3>
        <h4>Order #<%= orderId %></h4>
      </div>
    </div>
  </div>
</body>

