body {
  background-color:	#DEB887;
  margin: 0;
  padding: 0;
}

body h1 {
  color: #244751;
  background-color:	#DEB887;
}
.nav {
  background-color:	##49290f
}
.navbar-default {
  background-color: #49290f;
  border-color: #49290f;
}
.navbar-default .navbar-brand {
  color: #ddaa7b;

}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: #ce9661;
  background-color: #49290f;
}
.navbar-default .navbar-nav>li>a {
  color: #ce9661;
  background-color: #49290f;
}
.btn-info {
  background-color:#49290f;
  border-color: #49290f;
  color-interpolation-filters: auto
  ;
}

.main-container {
  border: 2px red solid;
  width: 80%;
  height: auto;
  margin: 0px auto
  background-color:	#DEB887;
}
.cart-container {
  background-color:#4e2d12 ;
}

.item-container {
  width: 100%;
  padding: 10px 0;
  border: 2px orange solid
  background-color:	#DEB887;
}

.item-heading {
  width: 100%;
}

.item-row {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
}

.item-box {
  width: 200px;
  height: 300px;
  border: 2px solid rgb(221, 153, 98);
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  margin: 20px 30px;
}

.item-header {
  top: 0px;
  text-align: center;
  color: orange;
  font-size: 1.5em;
  background-color: rgb(121, 74, 4);
}

.item-footer {
  display: flex;
  bottom: 0px;
  background-color: rgb(121, 74, 4);
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}

.select-item-container {
  margin: auto;
}

.item-main {
  height: 70%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: center;
}

.item-description {
  width: 100%;
}
