.manager-table > row {
  background-color: #c9aa70;
  max-height: 200px;
}

.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
}

.img {
  background-image: url("header.jpeg");
}

.navbar > .navbar-default {
  background-color: #c9aa70;
  border-color: #c9aa70;
  color: #6d4700;
}

.container-fluid1 {
  background-color: #c9aa70;
  border-color: #c9aa70;
  color: #6d4700;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #c9aa70;
  color: #6d4700;
  text-align: left;
}

.table-striped > tbody > tr:nth-child(odd) > td {
  background-color: unset !important;
}
