nav {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background-color: red;
  margin-top: 0;
}

.sidenav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
}
