// See: https://sass-lang.com/

body {
  background-color: rgb(224, 204, 176);
  background-image: url('styles/wood.png');

  margin:0;
  padding: 0;

  h1 {
    color: #244751;
  }
}
.container-fluid {
  background-color: #fff;
  border-color: #fff;
  color: rgb(109, 71, 0);
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  background-color: rgb(201, 170, 112);
  border-color: rgb(201, 170, 112);
  color: rgb(109, 71, 0);
}
.brand {
  background-color: rgb(201, 170, 112);
  border-color: rgb(201, 170, 112);
  color: rgb(109, 71, 0);
  float: left;
  padding: 15px;
  font-size: 18px;
  line-height: 20px;
  height: 50px;
}
.navbar-header1{
  background-color: rgb(201, 170, 112);
  border-color: rgb(201, 170, 112);
  color: rgb(109, 71, 0);
}

.navbar {
  position: fixed;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}




.main-container {
  border: 2px red solid;
  width: 80%;
  // height: auto;
  margin: 0px auto;
};

.item-container {
  width: 100%;
  padding: 10px 0;
  border: 2px orange solid;
}

.item-heading {
  width: 100%;
}

.item-row {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
}

.item-box {
  width: 200px;
  height: 300px;
  border: 2px solid green;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  margin: 20px 30px;
}

.item-header {
  top: 0px;
  text-align: center;
  color: orange;
  font-size: 1.5em;
  background-color: #fff;
}

.item-footer {
  display: flex;
  bottom: 0px;
  background-color: #fff
  ;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}

.select-item-container {
  margin: auto;
}

.item-main {
  height: 70%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: center;
}

.item-description {
  width: 100%;
}

.footer {
  position: relative;
  left: 0px;
  bottom: 0 !important;
  width: 100%;
  background-color: rgb(201, 170, 112);
  color: rgb(109, 71, 0);
  text-align: left;
  float: left;
  padding-bottom: 4%;
  justify-content: space-between !important;
  align-content: center !important;
  font-size: 15px;
  line-height: 20px;
  height: 40px;
}
.navhome {

  background-color: rgb(201, 170, 112);
  border-color: rgb(201, 170, 112);
  color: rgb(109, 71, 0);
}
.btn-secondary{
  background-color: rgb(201, 170, 112) !important;
  border-color: rgb(201, 170, 112) !important;
  color: rgb(109, 71, 0) !important;
}


.btn {

  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container-login {

  width: 400px !important;
  height: 150px !important;
  left: 50% !important;
  margin: -130px 0 0 -210px !important;
  padding:10px !important;
  position: absolute !important;
  top: 50% !important;
}



.footer-login {
  position: absolute;
  left: 0px;
  bottom: 0;
  width: 100%;
  background-color: rgb(201, 170, 112);
  color: rgb(109, 71, 0);
  text-align: left;
  float: left;
  padding-bottom: 4%;
  justify-content: left !important;
  align-content: center !important;
  font-size: 15px;
  line-height: 20px;
  height: 40px;
}
.panel {
  border: 4px rgb(109, 71, 0) solid transparent !important;
  font-family: 'Libre Baskerville', serif;
  color: #744029 !important;
}

.order-items{
  font-family: 'Libre Baskerville', serif;
  color: #5c260f !important;
}


