main {
  margin-left: 1.5rem;
  display: flex;
  flex-direction: column;
  background-color: #A0522D
  align-items: center;
  height: 6rem;
  padding: 2rem;
  position: fixed;
  width: 100%;
  z-index: 5;
}
