
nav {
  position: fixed;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background-color:  #A0522D;
  margin-top: 0;
}

.sidenav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
>>>>>>> eefc9aa0bad39c429a824c17f6e63836326015c5
}
